[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest
[submodule "dependencies/cglm"]
	path = dependencies/cglm
	url = https://github.com/recp/cglm
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/freetype/freetype
