[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/freetype/freetype
[submodule "dependencies/openal-soft"]
	path = dependencies/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
